<nav>
    <div class="nav-wrapper">
        <a href="/home" class="brand-logo">Cristal Gomez</a>
        <ul id="nav-mobile" class="right hide-on-med-and-down">
            <li><a href="/home">Home</a></li>
            <li><a href="/projects">Projects</a></li>
            {{!-- <li><a href="/contact">Contact</a></li> --}}
        </ul>
    </div>
</nav>

<div class="container">

    <div class="row">

        <div class="col s4"><img id="me" src="/images/me.jpg" alt="Cristal Gomez"></div>
        <div class="col s8"><p id="aboutMe" class="flow-text"> Hi there! My name is Cristal Gomez and I am a full-stack web developer. All of my projects were made on a blank canvas. Everything I have created started out with structuring out my folders, building my server and database, creating some HTML and topping it all off with some JavaScript. I enjoy coding and being creative. I like creating websites that are useful and on trend with today's needs. Check out my portfolio and connect with me on social media! </p></div>
        <p><a href="https://www.linkedin.com/in/cristalgomez/" target="blank">LinkedIn</a> | <a href="https://github.com/CristalGomez" target="blank">Github</a> | cristalsgomez@gmail.com</p>
    </div>

</div>
</div>



<div class="parallax" data-parallax="scroll" data-z-index="1" data-image-src="/images/keyboard.jpg"></div>
    <div align="middle">
    <img style="width:10%;height:15%" src="/images/logo/bootstrap.png"><img style="width:10%;height:15%" src="/images/logo/materialize.png"><img style="width:10%;height:15%" src="/images/logo/handlebars1.png"><img style="width:10%;height:15%" src="/images/logo/firebase.png"><img style="width:10%;height:15%" src="/images/logo/mysql.png"><img style="width:10%;height:15%" src="/images/logo/mongo.jpg"><img style="width:10%;height:15%" src="/images/logo/express.png"><img style="width:10%;height:15%" src="/images/logo/node.png">
    </div>

    <div class="parallax" data-parallax="scroll"  data-z-index="1" data-image-src="/images/houston.jpg"></div>

        <footer class="page-footer">
        
            <div class="footer">
                <div class="container">
       
        
                </div>
            </div>
        </footer>
</div>