<html class="index-bg">



<div class="index section">
    <div class="container">
        <div class="row">
            <div align="middle" class="col s12 m12 l12 aboutMe">
                <p>Cristal Gomez</p>
                <p>Front-End Web Developer</p>
                <p>
                    <a href="#section1">About Me</a> |
                    <a href="#section2">Skills</a> |
                    <a href="#section3">Projects</a>
                </p>
            </div>

        </div>
    </div>



</div>



<div class="about section" id="section1">
    <div class="container">
        <div class="row">
            <div aling="middle" class="col s12 l12 m12">
                <span>
                    <a href="#section1"><i class="fas fa-home"></i></a>
                    <a href="#section1"><i class="fas fa-user-alt"></i></a>
                    <a href="#section2"><i class="fas fa-pencil-alt"></i></a>
                    <a href="#section3"><i class="fas fa-briefcase"></i></a>
                </span>
            </div>
        </div>
    </div>
    {{!-- end of nav bar --}}

    <div align="middle" class="container-about section">
        <div class="row">
            <div class="col s12 l2 m2 bio1"></div>

            <div class="col s12 l8 m8 bio2">
                <p id="aboutMe" class="flow-text">
                    Howdy! My name is Cristal Gomez and I am a Front-End Web Developer. I learned how to code
                    through the University of Texas' Coding Bootcamp from 2018-2019. I started out not even knowing
                    what an HTML page was, to building full-stack web-apps. The bootcamp challenged my ability to
                    learn quickly and work with others. I had the opportunity to build three websites with three
                    different groups, and many other web-apps. My specialty is Front-End Web Development and UI
                    design.
                </p>
            </div>

            <div class="col s12 l2 m2 bio3"></div>

        </div>
        <div class="row">
            <div class="s12 l12 m12">

                <a href="https://www.linkedin.com/in/cristalgomez/" target="blank"><img style="width:10%"
                        src="/images/linkedin.png"></a>

                <a href="https://github.com/CristalGomez" target="blank"><img style="width:9%"
                        src="/images/github.png"></a>

                <a href="/resume_public.pdf" target="blank"><img style="width:9%" src="/images/resume.png"></a>

            </div>
        </div>

    </div>




</div>








<div class="skills section" id="section2">
    <div class="container">
        <div class="row">
            <div aling="middle" class="col s12 l12 m12">
                <span>
                    <a href="#section1"><i class="fas fa-home"></i></a>
                    <a href="#section1"><i class="fas fa-user-alt"></i></a>
                    <a href="#section2"><i class="fas fa-pencil-alt"></i></a>
                    <a href="#section3"><i class="fas fa-briefcase"></i></a>
                </span>
            </div>
        </div>
    </div>
    {{!-- end of nav bar --}}
    <div class="row">
        <div class="col s12 l12 m12">
            <h1>Skills</h1>
        </div>
    </div>
    <div class="container">
        <div class="row">
            {{!-- frontend --}}
            <div class="col s12 l3 m3">
                <h4>Front-End</h4>
                <ul>
                    <li>
                        HTML/CSS
                    </li>
                    <li>
                        JavaScript / ES6 / jQuery
                    </li>
                    <li>
                        API/AJAX
                    </li>
                </ul>

            </div>
            {{!-- backend --}}
            <div class="col s12 l3 m3">
                <h4>Back-End</h4>
                <ul>
                    <li>
                        MongoDB / MySQL
                    </li>
                    <li>
                        Node
                    </li>
                    <li>
                        Unit Testing
                    </li>
                    <li>
                        JSON
                    </li>
                    <li>SCRUM / Agile</li>
                </ul>

            </div>
            {{!-- framerworks/UI/UX --}}
            <div class="col s12 l3 m3">
                <h4>Frameworks / UI/UX</h4>
                <ul>
                    <li>React / Redux</li>
                    <li>Handlebars.js</li>
                    <li>Materialize / Bootstrap</li>
                    <li>User Stories</li>
                    <li>Adobe Suite / Wireframing</li>
                </ul>

            </div>
            {{!-- other --}}
            <div class="col s12 l3 m3">
                <h4>Other</h4>
                <ul>
                    <li>Git(Git Flow)</li>
                    <li>Version Control Software</li>
                    <li>Heroku</li>

                </ul>

            </div>
        </div>
    </div>

</div>





<div class="projects" id="section3">
    <div class="container">
        <div class="row">
            <div aling="middle" class="col s12 l12 m12">
                <span>
                    <a href="#section1"><i class="fas fa-home"></i></a>
                    <a href="#section1"><i class="fas fa-user-alt"></i></a>
                    <a href="#section2"><i class="fas fa-pencil-alt"></i></a>
                    <a href="#section3"><i class="fas fa-briefcase"></i></a>
                </span>
            </div>
        </div>
    </div>
    {{!-- end of nav bar --}}
    <div class="row">
        <div class="col s12 l12 m12">
            <h1>Projects</h1>
        </div>
    </div>

    <div class="row">
        {{!-- MyMenu --}}
        <div class="col s12 l6 m6">
            <h5>MyMenu: Project 1</h5>
            <p>My Menu is a front-end group-collaborated project. The purpose of this web-app is to give users recipes for breakfast,lunch,dinner and cocktails based on ingredients they've selected. Made with HTML, CSS, Materialize, jQuery, Yummly API, and CocktailDB API.</p>
            <ul>
                <li>
                    • 0:00 - 0:10: Showcasing UI design and parallax effect.
                </li>
                <li>
                    • 0:11 - 0:55: Demonstrating how to select ingredients and find recipes.
                </li>
                <li>
                    • 0:56 - 1:18: Demonstrating cocktail recipes based on alcohol base selected. 
                </li>
            </ul>
            <p><a href="" target="blank">Demo</a> | <a href="" target="blank">Code</a></p>

        </div>
        <div class="col s12 l6 m6">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/E-rbNE599ac" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
        {{!-- giphy --}}
        <div class="col s12 l6 m6">
            <h5>GIPHY API</h5>
            <p>This is a front-end web-app demonstrating the use of the GIPHY API. Users are able to create a button for a gif they want to see, and then see the gif after clicking the button. New gifs are prepended to the page with every button click.</p>
            <ul>
                <li>
                    • 0:00 - 0:11: Creating buttons that will be searched for using the GIPHY API.
                </li>
                <li>
                    • 0:12 - 0:14: Demonstrating user protection from adding black buttons.
                </li>
                <li>
                    • 0:14 - 0:26: Showing gifs that appear based on button clicked. Also showing how 10 gifs are prepended with every button click.
                </li>
            </ul>
            <p><a href="" target="blank">Demo</a> | <a href="" target="blank">Code</a></p>

        </div>
        <div class="col s12 l6 m6">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/v4US2aked5E" frameborder="0"
                allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"></iframe>
        </div>
        {{!-- train --}}
        <div class="col s12 l6 m6">
            <h5>Train Scheduler</h5>
            <p></p>
            <ul>
                <li>

                </li>
            </ul>
            <p><a href="" target="blank">Demo</a> | <a href="" target="blank">Code</a></p>

        </div>
        <div class="col s12 l6 m6">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/L0BYLmQ3DXA" frameborder="0"
                allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"></iframe>
        </div>
        {{!-- Crystal Collector Game --}}
        <div class="col s12 l6 m6">
            <h5>Crystal Collector Game</h5>
            <p>This is a front-end web-app demonstrating the use of Math.random() JavaScript function. The function generates a random number between 10-100, and assigns random numbers to each crystal. The goal is to figure out what the value is of each crystal and click on them until their sum matches the random number. Wins and losses are kept track of, and a new number is generated and new values are assigned to each crystal after every win or loss.</p>
            <p><a href="" target="blank">Demo</a> | <a href="" target="blank">Code</a></p>

        </div>
        <div class="col s12 m6 l6">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/XLnkBilKVsw" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>

    </div>

</div>



<footer class="page-footer">
    <div class="footer-copyright">
        <div class="container">
            © 2019 Copyright | <a style="color:white" href="https://github.com/CristalGomez" target="blank">Github</a> | <a style="color:white"
                href="https://www.linkedin.com/in/cristalgomez/" target="blank">LinkedIn</a> | <a style="color:white"
                href="/resume_public.pdf" target="blank">Resume</a>
        </div>
    </div>
</footer>


</html>