<div class="container">
    <div class="parallax" data-parallax="scroll" data-z-index="1" data-image-src="/images/laptop.jpg"></div>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ex fugiat quo, explicabo itaque aperiam reiciendis voluptatibus rerum ipsam, odio distinctio molestiae ipsum in, quaerat et eveniet sequi ut unde! Placeat!</p>

    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ex fugiat quo, explicabo itaque aperiam reiciendis voluptatibus rerum ipsam, odio distinctio molestiae ipsum in, quaerat et eveniet sequi ut unde! Placeat!</p>
</div>


