<html class="index-bg">

<div class="index section">
    <div align="middle" class="intro">
        <p>Cristal Gomez</p>

        <p>Full-Stack Web Developer</p>
        <a href="/home">View my Portfolio</a>
    </div>
</div>



<div class="about section">
    <nav>
        <div class="nav-wrapper">
            <a href="/home" class="brand-logo">Cristal Gomez</a>
            <ul id="nav-mobile" class="right hide-on-med-and-down">
                <li><a href="/home">Home</a></li>
                <li><a href="/projects">About</a></li>
                <li><a href="/projects">Projects</a></li>
                <li><a href="/projects">Skills</a></li>
            </ul>
        </div>



        <div class="container section">
            <div class="row">
                <div class="col s4"><img id="me" src="/images/me.jpg" alt="Cristal Gomez"></div>
                <div class="col s8">
                    <p id="aboutMe" class="flow-text"> Hi there! My name is Cristal Gomez and I am a full-stack web
                        developer. All of my projects were made on a blank canvas. Everything I have created started out
                        with structuring out my folders, building my server and database, creating some HTML and topping
                        it all off with some JavaScript. I enjoy coding and being creative. I like creating websites
                        that are useful and on trend with today's needs. Check out my portfolio and connect with me on
                        social media! </p>
                </div>
                <p><a href="https://www.linkedin.com/in/cristalgomez/" target="blank">LinkedIn</a> | <a
                        href="https://github.com/CristalGomez" target="blank">Github</a> | cristalsgomez@gmail.com</p>
            </div>

        </div>
    </nav>

</div>








<div class="skills section">
    <nav>
        <div class="nav-wrapper">
            <a href="/home" class="brand-logo">Cristal Gomez</a>
            <ul id="nav-mobile" class="right hide-on-med-and-down">
                <li><a href="/home">Home</a></li>
                <li><a href="/projects">About</a></li>
                <li><a href="/projects">Projects</a></li>
                <li><a href="/projects">Skills</a></li>
                {{!-- <li><a href="/contact">Contact</a></li> --}}
            </ul>
        </div>



        <div class="container">
            <div class="row">
                <div class="col s4"><img id="me" src="/images/me.jpg" alt="Cristal Gomez"></div>
                <div class="col s8">
                    <p id="aboutMe" class="flow-text"> Hi there! My name is Cristal Gomez and I am a full-stack web
                        developer. All of my projects were made on a blank canvas. Everything I have created started out
                        with structuring out my folders, building my server and database, creating some HTML and topping
                        it all off with some JavaScript. I enjoy coding and being creative. I like creating websites
                        that are useful and on trend with today's needs. Check out my portfolio and connect with me on
                        social media! </p>
                </div>
                <p><a href="https://www.linkedin.com/in/cristalgomez/" target="blank">LinkedIn</a> | <a
                        href="https://github.com/CristalGomez" target="blank">Github</a> | cristalsgomez@gmail.com</p>
            </div>

        </div>
    </nav>






</div>





<div class="projects section">
    <nav>
        <div class="nav-wrapper">
            <a href="/home" class="brand-logo">Cristal Gomez</a>
            <ul id="nav-mobile" class="right hide-on-med-and-down">
                <li><a href="/home">Home</a></li>
                <li><a href="/projects">About</a></li>
                <li><a href="/projects">Projects</a></li>
                <li><a href="/projects">Skills</a></li>
                {{!-- <li><a href="/contact">Contact</a></li> --}}
            </ul>
        </div>

    </nav>



        <div class="container">


    <div class="row">
        <div class="col m6">
            <div class="card small">
                <div class="card-image waves-effect waves-block waves-light">
                    <img class="activator" src="/images/bamazon.jpg">
                </div>
                <div class="card-content">
                    <span class="card-title activator grey-text text-darken-4">Bamazon<i
                            class="material-icons right">more_vert</i></span>
                    <p><a href="https://github.com/CristalGomez/bamazon" target="blank">Code</a></p>
                </div>
                <div class="card-reveal">
                    <span class="card-title grey-text text-darken-4">Bamazon<i
                            class="material-icons right">close</i></span>
                    <p>Bamazon is a CLI Node App made with VS Code. This app was made with Node.js, MySQL and Inquirer
                        npm package.</p>
                </div>
            </div>
        </div>
        <div class="col m6">
            <div class="card small">
                <div class="card-image waves-effect waves-block waves-light">
                    <img class="activator" src="/images/liri.jpg">
                </div>
                <div class="card-content">
                    <span class="card-title activator grey-text text-darken-4">LIRI Bot<i
                            class="material-icons right">more_vert</i></span>
                    <p><a href="https://github.com/CristalGomez/liri-node-app" target="blank">Code</a></p>
                </div>
                <div class="card-reveal">
                    <span class="card-title grey-text text-darken-4">LIRI Bot<i
                            class="material-icons right">close</i></span>
                    <p>LIRI is a Language Interpretation and Recognition Interface. This is a CLI Node app made with the
                        Spotify API, Axios API and moment.js.</p>
                </div>
            </div>
        </div>
    </div>
    {{!-- End of row 1 --}}

    <div class="row">
        <div class="col m6">
            <div class="card small">
                <div class="card-image waves-effect waves-block waves-light">
                    <img class="activator" src="/images/project1.jpg">
                </div>
                <div class="card-content">
                    <span class="card-title activator grey-text text-darken-4">MyMenu: Project 1<i
                            class="material-icons right">more_vert</i></span>
                    <p><a href="https://haifaseyam.github.io/project-01/" target="blank">Demo</a> | <a
                            href="https://github.com/HaifaSeyam/project-01" target="blank">Code</a></p>
                </div>
                <div class="card-reveal">
                    <span class="card-title grey-text text-darken-4">MyMenu<i
                            class="material-icons right">close</i></span>
                    <p>MyMenu is a class collaboration project. It is a frontend website using two APIs, jQuery and
                        Materialize.</p>
                </div>
            </div>
        </div>

        <div class="col m6">
            <div class="card small">
                <div class="card-image waves-effect waves-block waves-light">
                    <img class="activator" src="/images/project2.jpg">
                </div>
                <div class="card-content">
                    <span class="card-title activator grey-text text-darken-4">DrinksOnUs: Project 2<i
                            class="material-icons right">more_vert</i></span>
                    <p><a href="https://dry-savannah-14331.herokuapp.com/" target="blank">Demo</a> | <a
                            href="https://github.com/CristalGomez/Project2" target="blank">Code</a></p>
                </div>
                <div class="card-reveal">
                    <span class="card-title grey-text text-darken-4">DrinksOnUs<i
                            class="material-icons right">close</i></span>
                    <p>DrinksOnUs is a class collaboration project. It is a full-stack website deployed on Heroku. This
                        website was made with Handlebars.js, Express.js, Sequelize, MySQL and Node.js.</p>
                </div>
            </div>
        </div>
    </div>
    {{!-- End of Row 2 --}}

    <div class="row">
        <div class="col m6">
            <div class="card small">
                <div class="card-image waves-effect waves-block waves-light">
                    <img class="activator" src="/images/burger.jpg">
                </div>
                <div class="card-content">
                    <span class="card-title activator grey-text text-darken-4">Make Your Menu<i
                            class="material-icons right">more_vert</i></span>
                    <p><a href="https://hbsburgers.herokuapp.com/" target="blank">Demo</a> | <a
                            href="https://github.com/CristalGomez/HandlebarsJS" target="blank">Code</a></p>
                </div>
                <div class="card-reveal">
                    <span class="card-title grey-text text-darken-4">Make Your Menu<i
                            class="material-icons right">close</i></span>
                    <p>This is a full-stack website made with Handlebars.js and MySQL.</p>
                </div>
            </div>
        </div>

        <div class="col m6">
            <div class="card small">
                <div class="card-image waves-effect waves-block waves-light">
                    <img class="activator" src="/images/destination.jpg">
                </div>
                <div class="card-content">
                    <span class="card-title activator grey-text text-darken-4">Destination Discoverer<i
                            class="material-icons right">more_vert</i></span>
                    <p><a href="https://destinationdiscoverer.herokuapp.com/" target="blank">Demo</a> | <a
                            href="https://github.com/CristalGomez/ExpressJS" target="blank">Code</a></p>
                </div>
                <div class="card-reveal">
                    <span class="card-title grey-text text-darken-4">Destination Discoverer<i
                            class="material-icons right">close</i></span>
                    <p>Destination Discoverer is a full-stack website made with Express.js.</p>
                </div>
            </div>
        </div>
    </div>
    {{!-- End of row 3 --}}

    <div class="row">
        <div class="col m6">
            <div class="card small">
                <div class="card-image waves-effect waves-block waves-light">
                    <img class="activator" src="/images/train.jpg">
                </div>
                <div class="card-content">
                    <span class="card-title activator grey-text text-darken-4">Train Scheduler<i
                            class="material-icons right">more_vert</i></span>
                    <p><a href="https://cristalgomez.github.io/TrainScheduler/" target="blank">Demo</a> | <a
                            href="https://github.com/CristalGomez/TrainScheduler" target="blank">Code</a></p>
                </div>
                <div class="card-reveal">
                    <span class="card-title grey-text text-darken-4">Train Scheduler<i
                            class="material-icons right">close</i></span>
                    <p>This is a frontend website using Firebase and moment.js.</p>
                </div>
            </div>
        </div>

        <div class="col m6">
            <div class="card small">
                <div class="card-image waves-effect waves-block waves-light">
                    <img class="activator" src="/images/giphy.jpg">
                </div>
                <div class="card-content">
                    <span class="card-title activator grey-text text-darken-4">Giphy API<i
                            class="material-icons right">more_vert</i></span>
                    <p><a href="https://cristalgomez.github.io/API/" target="blank">Demo</a> | <a
                            href="https://github.com/CristalGomez/API" target="blank">Code</a></p>
                </div>
                <div class="card-reveal">
                    <span class="card-title grey-text text-darken-4">Giphy API<i
                            class="material-icons right">close</i></span>
                    <p>This is a frontend website using the giphy API.</p>
                </div>
            </div>
        </div>
    </div>
    {{!-- End of row 4 --}}
    <div class="row">
        <div class="col m6">
            <div class="card small">
                <div class="card-image waves-effect waves-block waves-light">
                    <img class="activator" src="/images/crystal.jpg">
                </div>
                <div class="card-content">
                    <span class="card-title activator grey-text text-darken-4">Crystal Collector<i
                            class="material-icons right">more_vert</i></span>
                    <p><a href="https://cristalgomez.github.io/Crystal-Collector-Game/" target="blank">Demo</a> | <a
                            href="https://github.com/CristalGomez/Crystal-Collector-Game" target="blank">Code</a></p>
                </div>
                <div class="card-reveal">
                    <span class="card-title grey-text text-darken-4">Crystal Collector<i
                            class="material-icons right">close</i></span>
                    <p>This is a frontend website where I implement the math.random function.</p>
                </div>
            </div>
        </div>

        <div class="col m6">
            <div class="card small">
                <div class="card-image waves-effect waves-block waves-light">
                    <img class="activator" src="/images/trivia.jpg">
                </div>
                <div class="card-content">
                    <span class="card-title activator grey-text text-darken-4">Trivia Game<i
                            class="material-icons right">more_vert</i></span>
                    <p><a href="https://cristalgomez.github.io/Trivia_Game/" target="blank">Demo</a> | <a
                            href="https://github.com/CristalGomez/Trivia_Game" target="blank">Code</a></p>
                </div>
                <div class="card-reveal">
                    <span class="card-title grey-text text-darken-4">Trivia Game<i
                            class="material-icons right">close</i></span>
                    <p>This is a frontend website where I implement the jQuery timer function.</p>
                </div>
            </div>
        </div>
    </div>
    {{!-- End of row 5 --}}

    <div class="row">
        <div class="col m6">
            <div class="card small">
                <div class="card-image waves-effect waves-block waves-light">
                    <img class="activator" src="/images/word.jpg">
                </div>
                <div class="card-content">
                    <span class="card-title activator grey-text text-darken-4">Hangman<i
                            class="material-icons right">more_vert</i></span>
                    <p><a href="https://cristalgomez.github.io/WordGuessGame/" target="blank">Demo</a> | <a
                            href="https://github.com/CristalGomez/WordGuessGame" target="blank">Code</a></p>
                </div>
                <div class="card-reveal">
                    <span class="card-title grey-text text-darken-4">Hangman<i
                            class="material-icons right">close</i></span>
                    <p>This is a frontend website where I implement the math.random function.</p>
                </div>
            </div>
        </div>

        {{!-- <div class="col m6">
            <div class="card small">
                <div class="card-image waves-effect waves-block waves-light">
                    <img class="activator" src="/images/trivia.jpg">
                </div>
                <div class="card-content">
                    <span class="card-title activator grey-text text-darken-4">Trivia Game<i
                            class="material-icons right">more_vert</i></span>
                    <p><a href="https://cristalgomez.github.io/Trivia_Game/" target="blank">Demo</a> | <a
                            href="https://github.com/CristalGomez/Trivia_Game" target="blank">Code</a></p>
                </div>
                <div class="card-reveal">
                    <span class="card-title grey-text text-darken-4">Trivia Game<i
                            class="material-icons right">close</i></span>
                    <p>This is a frontend website where I implement the jQuery timer function.</p>
                </div>
            </div>
        </div> --}}
    </div>
</div>

    <footer class="page-footer">
        <div class="footer-copyright">
            <div class="container">
                © 2014 Copyright Text
                <a class="grey-text text-lighten-4 right" href="#!">More Links</a>
            </div>
        </div>
    </footer>


</html>