<html>

<div class="parallax-window" data-parallax="scroll" data-image-src="./images/plants.jpg">
    <div align="middle" class="intro">
        <div class="row">
            <div class="col s12 m12 l12">
                <h4 style="color:white; font-weight:bold">Cristal Gomez</h4>
                <h5 style="color:white">Front-End Web Developer</h5>
                <p style="color:white"><a style="color:white" href="#section1">About Me</a> | <a style="color:white"
                        href="#section2">Skills</a> | <a style="color:white" href="#section3">Projects</a></p>
            </div>
        </div>
    </div>
</div>


<div id="section1">

    <div class="row">
        <div aling="middle" class="col s12 l12 m12">
            <span>
                <a href="#section1"><i class="fas fa-home"></i></a>
                <a href="#section2"><i class="fas fa-pencil-alt"></i></a>
                <a href="#section3"><i class="fas fa-briefcase"></i></a>
            </span>
        </div>
    </div>

    {{!-- end of nav bar --}}

    <div>
        <div class="row">
            <div class="col s12 l2 m2 bio1"></div>

            <div class="col s12 l8 m8 bio2">
                <p id="aboutMe" class="flow-text">
                    Howdy! My name is Cristal Gomez and I am a Full-Stack Web Developer. I learned how to code
                    through the University of Texas' Coding Bootcamp from 2018-2019. I started from building basic HTML
                    pages to building full-stack web-apps in 24 weeks. The bootcamp challenged my ability to
                    learn quickly and work with others. I had the opportunity to collaborate with three different groups
                    to build three websites, and independently build various other web-apps.
                </p>
            </div>

            <div class="col s12 l2 m2 bio3"></div>

        </div>
        <div class="container">
            <div align="middle" class="row">
                <div class="s12 l12 m12">

                    <a href="https://www.linkedin.com/in/cristalgomez/" target="blank"><img style="width:10%"
                            src="/images/linkedin.png"></a>

                    <a href="https://github.com/CristalGomez" target="blank"><img style="width:9%"
                            src="/images/github.png"></a>

                    <a href="/resume_public.pdf" target="blank"><img style="width:9%" src="/images/resume.png"></a>

                </div>
            </div>
        </div>

    </div>
</div>




<div class="parallax" data-parallax="scroll" data-image-src="./images/plants.jpg"></div>



<div id="section2">
    <div class="row">
        <div class="col s12 l12 m12">
            <span>
                <a href="#section1"><i class="fas fa-home"></i></a>
                <a href="#section2"><i class="fas fa-pencil-alt"></i></a>
                <a href="#section3"><i class="fas fa-briefcase"></i></a>
            </span>
        </div>
    </div>
    {{!-- end of nav bar --}}
    <div class="container">
        <div class="row">
            <div class="col s12 l12 m12">
                <h1 style="font-weight:bold" align="middle">Skills</h1>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            {{!-- frontend --}}
            <div class="col s12 l3 m3">
                <h5>Front-End</h5>
                <ul>
                    <li>
                        HTML/CSS
                    </li>
                    <li>
                        JavaScript / ES6 / jQuery
                    </li>
                    <li>
                        API/AJAX
                    </li>
                </ul>

            </div>
            {{!-- backend --}}
            <div class="col s12 l3 m3">
                <h5>Back-End</h5>
                <ul>
                    <li>
                        MongoDB / MySQL
                    </li>
                    <li>
                        Node
                    </li>
                    <li>
                        Unit Testing
                    </li>
                    <li>
                        JSON
                    </li>
                    <li>SCRUM / Agile</li>
                </ul>

            </div>
            {{!-- framerworks/UI/UX --}}
            <div class="col s12 l3 m3">
                <h5>Frameworks / UI/UX</h5>
                <ul>
                    <li>React / Redux</li>
                    <li>Handlebars.js</li>
                    <li>Materialize / Bootstrap</li>
                    <li>User Stories</li>
                    <li>Adobe Suite / Wireframing</li>
                </ul>

            </div>
            {{!-- other --}}
            <div class="col s12 l3 m3">
                <h5>Other</h5>
                <ul>
                    <li>Git(Git Flow)</li>
                    <li>Version Control Software</li>
                    <li>Heroku</li>

                </ul>

            </div>
        </div>
    </div>
</div>


<div class="parallax" data-parallax="scroll" data-image-src="./images/plants.jpg"></div>


<div id="section3">

    <div class="row">
        <div aling="middle" class="col s12 l12 m12">
            <span>
                <a href="#section1"><i class="fas fa-home"></i></a>
                <a href="#section2"><i class="fas fa-pencil-alt"></i></a>
                <a href="#section3"><i class="fas fa-briefcase"></i></a>
            </span>
        </div>
    </div>
    {{!-- end of nav bar --}}
    <div class="container">
        <div class="row">
            <div class="col s12 l12 m12">
                <h1 style="font-weight:bold" align="middle">Projects</h1>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            {{!-- MyMenu --}}
            <div class="col s12 l6 m6">
                <h5>MyMenu: Project 1</h5>
                <p>My Menu is a front-end group-collaborated project. The purpose of this web-app is to give users
                    recipes
                    for breakfast,lunch,dinner and cocktails based on ingredients they've selected. Made with HTML, CSS,
                    Materialize, jQuery, Yummly API, and CocktailDB API.</p>
                <ul>
                    <li>
                        • 0:00 - 0:10: Showcasing UI design and parallax effect.
                    </li>
                    <li>
                        • 0:11 - 0:55: Demonstrating how to select ingredients and find recipes.
                    </li>
                    <li>
                        • 0:56 - 1:18: Demonstrating cocktail recipes based on alcohol base selected.
                    </li>
                </ul>
                <p><a href="" target="blank">Demo</a> | <a href="" target="blank">Code</a></p>

            </div>
            <div class="col s12 l6 m6">
                <iframe width="560" height="315" src="https://www.youtube.com/embed/E-rbNE599ac" frameborder="0"
                    allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen></iframe>
            </div>
        </div>
        <div class="row">
            <div class="col s12 l6 m6">
                <h5>DrinksOnUs: Project 2</h5>
                <p>DrinksOnUs is a group-collaborated full-stack website made with Handlebars.js, jQuery, Node.js,
                    MySQL,
                    Sequelize, Anime.js, and Materialize. This website takes the work off the bar owner and web
                    developer of
                    having to update the latest happy hour specials.</p>
                <ul>
                    <li>• 0:00 - 0:07: Demonstrating anime.js feature & button listeners.</li>
                    <li>• 0:08 - 0:19: Showing how to add a new bar to the city's page.</li>
                    <li>• 0:20 - 0:51: Adding new specials to the Dallas bar's page.</li>
                </ul>
                <p><a href="https://dry-savannah-14331.herokuapp.com/" target="blank">Demo</a> | <a
                        href="https://github.com/CristalGomez/Project2" target="blank">Code</a></p>

            </div>
            <div class="col s12 l6 m6">
                <iframe width="560" height="315" src="https://www.youtube.com/embed/2sTjN_WGXHA" frameborder="0"
                    allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen></iframe>
            </div>
        </div>
        <div class="row">

            <div class="col s12 l6 m6">
                <h5>iiMage: Project 3</h5>
                <p>iiMage is a group-collaborated full-stack website made with React, MongoDB, SendGrid, Firebase, and
                    Okta
                    Authentification. This website allows photographers to offer their services to clients. They're able
                    to
                    communicate via the email feature on their profiles.</p>
                <ul>
                    <li>• 0:00 - 0:12: Showing UI of homepage & user login/signup pages.</li>
                    <li>• 0:13 - 0:22: Showing photographers with existing user profiles.</li>
                    <li>• 0:23 - 0:31: Showing features of user profiles.</li>
                    <li>• 0:32 - 1:06: Demonstrating how to send an email through a profile.</li>
                </ul>
                <p><a href="https://fierce-hollows-73170.herokuapp.com/" target="blank">Demo</a> | <a
                        href="https://github.com/CristalGomez/Project3" target="blank">Code</a></p>
            </div>
            <div class="col s12 m6 l6">
                <iframe width="560" height="315" src="https://www.youtube.com/embed/m_enlp8r-Wg" frameborder="0"
                    allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen></iframe>
            </div>
        </div>

        <h1 style="font-weight:bold" align="middle">CLI Apps</h1>

        <div class="grid">
            <figure class="effect-julia">
                <img src="./images/dowhat.png" alt="img21" />
                <figcaption>
                    <h2>LIRI <span>Bot</span></h2>
                    <div>
                        <p>Language Interpretation & Recognition</p>
                        <p>Interface • Node + Spotify + Axios </p>
                        <p>Click to view code</p>
                    </div>
                    <a target="blank" href="https://github.com/CristalGomez/liri-node-app">Code</a>
                </figcaption>
            </figure>

            <figure class="effect-julia">
                <img src="./images/dowhat.png" alt="img21" />
                <figcaption>
                    <h2>Bamazon</h2>
                    <div>
                        <p>Amazon turned CLI App</p>
                        <p>Node + MySQL + Inquirer Package</p>
                        <p>Click to view code</p>
                    </div>
                    <a target="blank" href="https://github.com/CristalGomez/bamazon">Code</a>
                </figcaption>
            </figure>
        </div>
    </div>
</div>



<div class="container">
    <div class="row">
        <div class="col s12 l12 m12">
            <h5 style="font-weight:bold" align="middle">Other Web-apps</h5>
            <ul>
                <li>Train Scheduler: <a href="https://cristalgomez.github.io/TrainScheduler/" target="blank">Demo</a> |
                    <a href="https://www.youtube.com/watch?v=L0BYLmQ3DXA" target="blank">Video Demo</a> | <a
                        href="https://github.com/CristalGomez/TrainScheduler" target="blank">Code</a></li>

                <li>Crystal Collector: <a href="https://cristalgomez.github.io/Crystal-Collector-Game/" target="blank">
                        Demo</a> | <a href="https://www.youtube.com/watch?v=XLnkBilKVsw" target="blank">Video
                        Demo</a> |
                    <a href="https://github.com/CristalGomez/Crystal-Collector-Game" target="blank">Code</a></li>

                <li>GIPHY API: <a href="https://cristalgomez.github.io/API/" target="blank">Demo</a> | <a
                        href="https://www.youtube.com/watch?v=v4US2aked5E" target="blank">Video Demo</a> | <a
                        href="https://github.com/CristalGomez/API" target="blank">Code</a></li>
            </ul>
        </div>
    </div>
</div>



<footer class="page-footer">
    <div class="footer-copyright">
        <div class="container">
            © 2019 | Cristal Gomez - Portfolio | <a style="color:white" href="https://github.com/CristalGomez"
                target="blank">Github</a> |
            <a style="color:white" href="https://www.linkedin.com/in/cristalgomez/" target="blank">LinkedIn</a> | <a
                style="color:white" href="/resume_public.pdf" target="blank">Resume</a>
        </div>
    </div>
</footer>

</html>