<html>


<section class="welcome">
    <canvas id="canvas"></canvas>
    <div class="info">
        <p>Cristal Gomez</p>
        <p>Full-Stack Web Developer</p>
        <p>Mongo | Express | React | Node</p>
    </div>

</section>

<section class="section1">
    <div class="row">
        <div class="bio1 col s12 m12 l3"></div>
        <div class="bio2 col s12 m12 l6">
            <p>Howdy! My name is Cristal Gomez and I am a Full-Stack Web Developer. I learned how to code
                through the University of Texas' Coding Bootcamp from 2018-2019. I started from building basic HTML
                pages to building full-stack web-apps in 24 weeks. The bootcamp challenged my ability to
                learn quickly and work with others. I had the opportunity to collaborate with three different groups
                to build three websites, and independently build various other web-apps.</p>
            <a href="https://www.linkedin.com/in/cristalgomez/" target="blank"><img style="width:10%"
                    src="/images/linkedin.png"></a>

            <a href="https://github.com/CristalGomez" target="blank"><img style="width:9%" src="/images/github.png"></a>

            <a href="/resume_public.pdf" target="blank"><img style="width:9%" src="/images/resume.png"></a>
        </div>
        <div class="bio3 col s12 m12 l3"></div>
    </div>

</section>

<section class="section2">
    <div class="gap"></div>
    <div class="container">
        <div class="row skills">
            <div class="frontEnd col s12 m12 l3">
                <h5>Front-End <i class="fas fa-code"></i></h5>
                
                <ul>
                    <li>HTML</li>
                    <li>CSS</li>
                    <li>JavaScript/ES6/jQuery</li>
                    <li>RESTful APIs</li>
                </ul>

            </div>
            <div class="backEnd col s12 m12 l3">
                <h5>Back-End <i class="fas fa-code-branch"></i></h5>
                
                <ul>
                    <li>MongoDB / MySQL</li>
                    <li>Node</li>
                    <li>Express</li>
                    <li>Unit Testing</li>
                    <li>Java</li>
                </ul>

            </div>
            <div class="frameworks col s12 m12 l3">
                <h5>Frameworks <i class="fas fa-pencil-alt"></i></h5>
                
                <ul>
                    <li>React / Redux</li>
                    <li>Handlebars.js</li>
                    <li>Materialize / Bootstrap</li>
                    <li>Adobe Suite</li>
                </ul>

            </div>
            <div class="other col s12 m12 l3">
                <h5>Other <i class="fas fa-desktop"></i></h5>
                
                <ul>
                    <li>User stories</li>
                    <li>SCRUM / Agile</li>
                    <li>Git (Git Flow)</li>
                    <li>Version Control Software</li>
                </ul>
            </div>
        </div>
    </div>
</section>

<section class="section3">
    <h1 align="middle">CLI Apps</h1>

    <div class="grid">
        <figure class="effect-julia">
            <img src="./images/dowhat.png" alt="img21" />
            <figcaption>
                <h2>LIRI <span>Bot</span></h2>
                <div>
                    <p>Language Interpretation & Recognition</p>
                    <p>Interface • Node + Spotify + Axios </p>
                    <p>Click to view code</p>
                </div>
                <a target="blank" href="https://github.com/CristalGomez/liri-node-app">Code</a>
            </figcaption>
        </figure>

        <figure class="effect-julia">
            <img src="./images/dowhat.png" alt="img21" />
            <figcaption>
                <h2>Bamazon</h2>
                <div>
                    <p>Amazon turned CLI App</p>
                    <p>Node + MySQL + Inquirer Package</p>
                    <p>Click to view code</p>
                </div>
                <a target="blank" href="https://github.com/CristalGomez/bamazon">Code</a>
            </figcaption>
        </figure>
    </div>

</section>


<section class="section4">
    <div class="container">
        <div class="row">
            <div class="col s12 l12 m12">
                <h1 align="middle">Projects</h1>
            </div>
        </div>
    </div>
    <div class="videos container">
        <div class="row">
            {{!-- MyMenu --}}
            <div class="col s12 l6 m6">
                <h5>MyMenu: Project 1</h5>
                <p align="middle"><a href="" target="blank">Demo</a> | <a href="" target="blank">Code</a></p>
                <p>HTML | CSS | Materialize | jQuery | Yummly API | CocktailDB API</p>
                <p>My Menu is a front-end group-collaborated project. The purpose of this web-app is to give users
                    recipes
                    for breakfast,lunch,dinner and cocktails based on ingredients they've selected.</p>

                <ul>
                    <li>
                        • 0:00 - 0:10: Showcasing UI design and parallax effect.
                    </li>
                    <li>
                        • 0:11 - 0:55: Demonstrating how to select ingredients and find recipes.
                    </li>
                    <li>
                        • 0:56 - 1:18: Demonstrating cocktail recipes based on alcohol base selected.
                    </li>
                </ul>


            </div>
            <div class="col s12 l6 m6">
                <iframe width="560" height="315" src="https://www.youtube.com/embed/E-rbNE599ac" frameborder="0"
                    allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen></iframe>
            </div>
        </div>
        <div class="row">
            <div class="col s12 l6 m6">
                <h5>DrinksOnUs: Project 2</h5>
                <p align="middle"><a href="https://dry-savannah-14331.herokuapp.com/" target="blank">Demo</a> | <a
                        href="https://github.com/CristalGomez/Project2" target="blank">Code</a></p>
                <p>Handlebars.js | jQuery | Node | MySQL | Sequelize | Anime.js | Materialize</p>
                <p>DrinksOnUs is a group-collaborated full-stack website. This website takes the work off the bar owner
                    and web
                    developer of
                    having to update the latest happy hour specials.</p>
                <ul>
                    <li>• 0:00 - 0:07: Demonstrating anime.js feature & button listeners.</li>
                    <li>• 0:08 - 0:19: Showing how to add a new bar to the city's page.</li>
                    <li>• 0:20 - 0:51: Adding new specials to the Dallas bar's page.</li>
                </ul>


            </div>
            <div class="col s12 l6 m6">
                <iframe width="560" height="315" src="https://www.youtube.com/embed/2sTjN_WGXHA" frameborder="0"
                    allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen></iframe>
            </div>
        </div>
        <div class="row">

            <div class="col s12 l6 m6">
                <h5>iiMage: Project 3</h5>
                <p align="middle"><a href="https://fierce-hollows-73170.herokuapp.com/" target="blank">Demo</a> | <a
                        href="https://github.com/CristalGomez/Project3" target="blank">Code</a></p>
                <p>React | MongoDB | SendGrid | Firebase | Okta Authentification</p>
                <p>iiMage is a group-collaborated full-stack website.This website allows photographers to offer their services to clients. They're able
                    to
                    communicate via the email feature on their profiles.</p>
                <ul>
                    <li>• 0:00 - 0:12: Showing UI of homepage & user login/signup pages.</li>
                    <li>• 0:13 - 0:22: Showing photographers with existing user profiles.</li>
                    <li>• 0:23 - 0:31: Showing features of user profiles.</li>
                    <li>• 0:32 - 1:06: Demonstrating how to send an email through a profile.</li>
                </ul>

            </div>
            <div class="col s12 m6 l6">
                <iframe width="560" height="315" src="https://www.youtube.com/embed/m_enlp8r-Wg" frameborder="0"
                    allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen></iframe>
            </div>
        </div>

    </div>

</section>

<section class="section5">
    <div class="container">
        <div class="row">
            <div class="col s12 l12 m12">
                <h1 style="color:white" align="middle">Other Web-Apps</h1>
                <ul>
                    <li style="color:white">Train Scheduler: <a href="https://cristalgomez.github.io/TrainScheduler/"
                            target="blank" style="color:white">Demo</a> |
                        <a href="https://www.youtube.com/watch?v=L0BYLmQ3DXA" target="blank" style="color:white">Video Demo</a> | <a
                            href="https://github.com/CristalGomez/TrainScheduler" target="blank" style="color:white">Code</a></li>

                    <li style="color:white">Crystal Collector: <a href="https://cristalgomez.github.io/Crystal-Collector-Game/"
                            target="blank" style="color:white">
                            Demo</a> | <a href="https://www.youtube.com/watch?v=XLnkBilKVsw" target="blank" style="color:white">Video
                            Demo</a> |
                        <a href="https://github.com/CristalGomez/Crystal-Collector-Game" target="blank" style="color:white">Code</a></li>

                    <li style="color:white">GIPHY API: <a href="https://cristalgomez.github.io/API/" target="blank" style="color:white">Demo</a> | <a
                            href="https://www.youtube.com/watch?v=v4US2aked5E" target="blank" style="color:white">Video Demo</a> | <a
                            href="https://github.com/CristalGomez/API" target="blank" style="color:white">Code</a></li>
                </ul>
            </div>
        </div>
    </div>

</section>








<footer class="page-footer">
    <div class="footer-copyright">
        <div class="container">
            © 2019 | Cristal Gomez - Portfolio | <a style="color:white" href="https://github.com/CristalGomez"
                target="blank">Github</a> |
            <a style="color:white" href="https://www.linkedin.com/in/cristalgomez/" target="blank">LinkedIn</a> | <a
                style="color:white" href="/resume_public.pdf" target="blank">Resume</a>
        </div>
    </div>
</footer>

</html>