<nav>
    <div class="nav-wrapper">
        <a href="/home" class="brand-logo">Cristal Gomez</a>
        <ul id="nav-mobile" class="right hide-on-med-and-down">
            <li><a href="/projects">Projects</a></li>
            <li><a href="badges.html">Contact</a></li>
            <li><a href="collapsible.html">JavaScript</a></li>
        </ul>
    </div>
</nav>

<div class="container">
    <div class="row">
        <div class="col s12">
            <span>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Fuga unde, quaerat incidunt nesciunt ab
                maiores dignissimos ut placeat similique consectetur pariatur ea, nisi aspernatur autem assumenda, vel
                et laudantium? Ad.</span>
        </div>
    </div>

    <div class="row">
        <div class="col m6">
            <div class="card small">
                <div class="card-image waves-effect waves-block waves-light">
                    <img class="activator" src="/images/bamazon.jpg">
                </div>
                <div class="card-content">
                    <span class="card-title activator grey-text text-darken-4">Bamazon<i
                            class="material-icons right">more_vert</i></span>
                    <p><a href="https://github.com/CristalGomez/bamazon" target="blank">Code</a></p>
                </div>
                <div class="card-reveal">
                    <span class="card-title grey-text text-darken-4">Bamazon<i
                            class="material-icons right">close</i></span>
                    <p>Bamazon is a CLI Node App made with VS Code. This app was made with Node.js, MySQL and Inquirer
                        npm package.</p>
                </div>
            </div>
        </div>
        <div class="col m6">
            <div class="card small">
                <div class="card-image waves-effect waves-block waves-light">
                    <img class="activator" src="/images/liri.jpg">
                </div>
                <div class="card-content">
                    <span class="card-title activator grey-text text-darken-4">LIRI Bot<i
                            class="material-icons right">more_vert</i></span>
                    <p><a href="https://github.com/CristalGomez/liri-node-app" target="blank">Code</a></p>
                </div>
                <div class="card-reveal">
                    <span class="card-title grey-text text-darken-4">LIRI Bot<i
                            class="material-icons right">close</i></span>
                    <p>LIRI is a Language Interpretation and Recognition Interface. This is a CLI Node app made with the
                        Spotify API, Axios API and moment.js.</p>
                </div>
            </div>
        </div>
    </div>
    {{!-- End of row 1 --}}

    <div class="row">
        <div class="col m6">
            <div class="card small">
                <div class="card-image waves-effect waves-block waves-light">
                    <img class="activator" src="/images/project1.jpg">
                </div>
                <div class="card-content">
                    <span class="card-title activator grey-text text-darken-4">MyMenu: Project 1<i
                            class="material-icons right">more_vert</i></span>
                    <p><a href="https://haifaseyam.github.io/project-01/" target="blank">Demo</a> | <a
                            href="https://github.com/HaifaSeyam/project-01" target="blank">Code</a></p>
                </div>
                <div class="card-reveal">
                    <span class="card-title grey-text text-darken-4">MyMenu<i
                            class="material-icons right">close</i></span>
                    <p>MyMenu is a class collaboration project. It is a frontend website using two APIs, jQuery and
                        Materialize.</p>
                </div>
            </div>
        </div>

        <div class="col m6">
            <div class="card small">
                <div class="card-image waves-effect waves-block waves-light">
                    <img class="activator" src="/images/project2.jpg">
                </div>
                <div class="card-content">
                    <span class="card-title activator grey-text text-darken-4">DrinksOnUs: Project 2<i
                            class="material-icons right">more_vert</i></span>
                    <p><a href="https://dry-savannah-14331.herokuapp.com/" target="blank">Demo</a> | <a
                            href="https://github.com/CristalGomez/Project2" target="blank">Code</a></p>
                </div>
                <div class="card-reveal">
                    <span class="card-title grey-text text-darken-4">DrinksOnUs<i
                            class="material-icons right">close</i></span>
                    <p>DrinksOnUs is a class collaboration project. It is a full-stack website deployed on Heroku. This
                        website was made with Handlebars.js, Express.js, Sequelize, MySQL and Node.js.</p>
                </div>
            </div>
        </div>
    </div>
    {{!-- End of Row 2 --}}

    <div class="row">
        <div class="col m6">
            <div class="card small">
                <div class="card-image waves-effect waves-block waves-light">
                    <img class="activator" src="/images/burger.jpg">
                </div>
                <div class="card-content">
                    <span class="card-title activator grey-text text-darken-4">Make Your Menu<i
                            class="material-icons right">more_vert</i></span>
                    <p><a href="https://hbsburgers.herokuapp.com/" target="blank">Demo</a> | <a
                            href="https://github.com/CristalGomez/HandlebarsJS" target="blank">Code</a></p>
                </div>
                <div class="card-reveal">
                    <span class="card-title grey-text text-darken-4">Make Your Menu<i
                            class="material-icons right">close</i></span>
                    <p>This is a full-stack website made with Handlebars.js and MySQL.</p>
                </div>
            </div>
        </div>

        <div class="col m6">
            <div class="card small">
                <div class="card-image waves-effect waves-block waves-light">
                    <img class="activator" src="/images/destination.jpg">
                </div>
                <div class="card-content">
                    <span class="card-title activator grey-text text-darken-4">Destination Discoverer<i
                            class="material-icons right">more_vert</i></span>
                    <p><a href="https://destinationdiscoverer.herokuapp.com/" target="blank">Demo</a> | <a
                            href="https://github.com/CristalGomez/ExpressJS" target="blank">Code</a></p>
                </div>
                <div class="card-reveal">
                    <span class="card-title grey-text text-darken-4">Destination Discoverer<i
                            class="material-icons right">close</i></span>
                    <p>Destination Discoverer is a full-stack website made with Express.js.</p>
                </div>
            </div>
        </div>
    </div>
    {{!-- End of row 3 --}}

    <div class="row">
        <div class="col m6">
            <div class="card small">
                <div class="card-image waves-effect waves-block waves-light">
                    <img class="activator" src="/images/train.jpg">
                </div>
                <div class="card-content">
                    <span class="card-title activator grey-text text-darken-4">Train Scheduler<i
                            class="material-icons right">more_vert</i></span>
                    <p><a href="https://cristalgomez.github.io/TrainScheduler/" target="blank">Demo</a> | <a
                            href="https://github.com/CristalGomez/TrainScheduler" target="blank">Code</a></p>
                </div>
                <div class="card-reveal">
                    <span class="card-title grey-text text-darken-4">Train Scheduler<i
                            class="material-icons right">close</i></span>
                    <p>This is a frontend website using Firebase and moment.js.</p>
                </div>
            </div>
        </div>

        <div class="col m6">
            <div class="card small">
                <div class="card-image waves-effect waves-block waves-light">
                    <img class="activator" src="/images/giphy.jpg">
                </div>
                <div class="card-content">
                    <span class="card-title activator grey-text text-darken-4">Giphy API<i
                            class="material-icons right">more_vert</i></span>
                    <p><a href="https://cristalgomez.github.io/API/" target="blank">Demo</a> | <a
                            href="https://github.com/CristalGomez/API" target="blank">Code</a></p>
                </div>
                <div class="card-reveal">
                    <span class="card-title grey-text text-darken-4">Giphy API<i
                            class="material-icons right">close</i></span>
                    <p>This is a frontend website using the giphy API.</p>
                </div>
            </div>
        </div>
    </div>
    {{!-- End of row 4 --}}
 <div class="row">
        <div class="col m6">
            <div class="card small">
                <div class="card-image waves-effect waves-block waves-light">
                    <img class="activator" src="/images/crystal.jpg">
                </div>
                <div class="card-content">
                    <span class="card-title activator grey-text text-darken-4">Crystal Collector<i
                            class="material-icons right">more_vert</i></span>
                    <p><a href="https://cristalgomez.github.io/Crystal-Collector-Game/" target="blank">Demo</a> | <a
                            href="https://github.com/CristalGomez/Crystal-Collector-Game" target="blank">Code</a></p>
                </div>
                <div class="card-reveal">
                    <span class="card-title grey-text text-darken-4">Crystal Collector<i
                            class="material-icons right">close</i></span>
                    <p>This is a frontend website where I implement the math.random function.</p>
                </div>
            </div>
        </div>

        <div class="col m6">
            <div class="card small">
                <div class="card-image waves-effect waves-block waves-light">
                    <img class="activator" src="/images/trivia.jpg">
                </div>
                <div class="card-content">
                    <span class="card-title activator grey-text text-darken-4">Trivia Game<i
                            class="material-icons right">more_vert</i></span>
                    <p><a href="https://cristalgomez.github.io/Trivia_Game/" target="blank">Demo</a> | <a
                            href="https://github.com/CristalGomez/Trivia_Game" target="blank">Code</a></p>
                </div>
                <div class="card-reveal">
                    <span class="card-title grey-text text-darken-4">Trivia Game<i
                            class="material-icons right">close</i></span>
                    <p>This is a frontend website where I implement the jQuery timer function.</p>
                </div>
            </div>
        </div>
    </div>
    {{!-- End of row 5 --}}

    <div class="row">
        <div class="col m6">
            <div class="card small">
                <div class="card-image waves-effect waves-block waves-light">
                    <img class="activator" src="/images/word.jpg">
                </div>
                <div class="card-content">
                    <span class="card-title activator grey-text text-darken-4">Hangman<i
                            class="material-icons right">more_vert</i></span>
                    <p><a href="https://cristalgomez.github.io/WordGuessGame/" target="blank">Demo</a> | <a
                            href="https://github.com/CristalGomez/WordGuessGame" target="blank">Code</a></p>
                </div>
                <div class="card-reveal">
                    <span class="card-title grey-text text-darken-4">Hangman<i
                            class="material-icons right">close</i></span>
                    <p>This is a frontend website where I implement the math.random function.</p>
                </div>
            </div>
        </div>

        {{!-- <div class="col m6">
            <div class="card small">
                <div class="card-image waves-effect waves-block waves-light">
                    <img class="activator" src="/images/trivia.jpg">
                </div>
                <div class="card-content">
                    <span class="card-title activator grey-text text-darken-4">Trivia Game<i
                            class="material-icons right">more_vert</i></span>
                    <p><a href="https://cristalgomez.github.io/Trivia_Game/" target="blank">Demo</a> | <a
                            href="https://github.com/CristalGomez/Trivia_Game" target="blank">Code</a></p>
                </div>
                <div class="card-reveal">
                    <span class="card-title grey-text text-darken-4">Trivia Game<i
                            class="material-icons right">close</i></span>
                    <p>This is a frontend website where I implement the jQuery timer function.</p>
                </div>
            </div>
        </div> --}}
    </div>
</div>